/* Footer CSS */
@import "_vendor";
@import "_variables";

.footer-wrapper{
  background: $background-color-main;
  border-top: 1px solid #fff;
  color: #fff;
  bottom: 0;
  width: 100%;
  height: 60px;

  p{
    text-align: center;
    margin: 20px 0;
  }
}
